.features{
    background: #2b1e16;
    display: flex;
    justify-content: space-around;
    padding: 0 0 4% 0;
   
}
.feature_container{
    width: 16vw;
    text-align: center;
    
}
.feature_container h3{
    color: #fff;
    font-weight: 700;
}
.feature_container p{
    color: #e0cbc1;
    line-height: 1.3;
}
.feature_container img{
    width: 7rem;
    
}
#fast_delivery{
    padding-top: 1.8%;
}